:host {
  display: flex;
  align-items: center;
  border: 1px rgb(255, 255, 255) solid;
  padding: 9.5px;
  background-color: #3f51b5;
  color: #ffffff;
}

.todo-item-description{
  display: flex;
  padding: 0 25px;
  gap: 20px;
  justify-content: space-between;
  span{
    min-width: 250px;
    max-width: 800px;
  }
}
.todo-item-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.todo-item-spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
}
