

<div>
  <form [formGroup]="filterForm">

    <h2>Filtros:</h2>
    <div class="container-form-first">
      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <mat-radio-group
        aria-label="Select an option"
        formControlName="isCompleted"
      >
        <mat-radio-button [value]="null" class="todos-filter-radio-item"
          >Todos</mat-radio-button
        >
        <mat-radio-button [value]="false" class="todos-filter-radio-item"
          >Pendentes</mat-radio-button
        >
        <mat-radio-button [value]="true" class="todos-filter-radio-item"
          >Completados</mat-radio-button
        >
      </mat-radio-group>

      <div class="new-todo-form">
        <div class="new-todo-form-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Nova Tarefa</mat-label>
            <input matInput [formControl]="newTodoControlName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="Descrição" [formControl]="newTodoControlDescription" />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            [disabled]="isSaving || newTodoControlName.invalid && newTodoControlDescription.invalid "
            (click)="createTodo()"
          >
            {{ isSaving ? "Salvando..." : "Criar" }}
          </button>
        </div>

        <mat-spinner *ngIf="isSaving" diameter="24" color="accent"></mat-spinner>
      </div>
    </div>
  </form>
</div>

<div>
  <h2>Lista de Tarefas:</h2>
  <mat-spinner
  *ngIf="loading$ | async"
  diameter="24"
  color="primary"
></mat-spinner>
<div>
  {{ todosCompletedCount$ | async }}/{{ todosCount$ | async }}
  <ng-container *ngIf="filteredTodos$ | async as todos">
    <app-todo-list
      (selected)="onTodoSelect($event)"
      [todos]="todos"
      (todoDelete)="onTodoDeleted($event)"
      (todoToggle)="onTodoToggled($event)"
      (todoToggleFavorite)="onTodoToggledFavorite($event)"
    ></app-todo-list>
  </ng-container>
</div>

</div>

